* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #121214;
    color: #e1e1e6;
}

header {
    background-color: #202024;
    padding: 20px 0;
    border-bottom: 2px solid #323238;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: #c4c4cc;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500px;
    transition: color 0.3s;
}

nav a:hover {
    color: #0173fe;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    max-width: 800px;
    margin: 0% auto;
}

.principal img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #000000;
    box-shadow: 0 0 20px rgba(96, 165, 250, 0.2);
    margin-bottom: 24px;
    transition: transform 0.3s;
}

.principal img:hover {
    transform: scale(1.05);
}

.principal h1{
    font-size: 2.2em;
    color: #ffffff;
    margin-bottom: 8px;
}

.principal h2{
    font-size: 1.2em;
    color: #0173fe;
    margin-bottom: 24px;
    font-weight: 500;
}

.principal p {
    font-size: 1.1em;
    line-height: 1.7;
    color: #c4c4cc;
    max-width: 650px;
}

